body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(86, 106, 159, 0.483);
}

.QR {
    text-align: center;
    height: 490px;
    width: 300px;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 30%;   
    left:40%;
    box-shadow: 3px 3px 5px 5px;
    color: #5e72c3;
}
img {
    width: 300px;
    height: 300px;
    border-radius: 0.5rem;
   
}


h2{
    color: black;
    font-size: 1.5rem;
}

p {
    color: #271760;
}
.object{
    font-family: sans-serif;
}
.object1{
    font-family: sans-serif;
}